html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table {
  margin: 50px auto 0;
  border-collapse: collapse;
  outline: 15px solid rgba(230, 230, 230, 0.2);
}
td {
  width: 10px;
  height: 10px;
  background: #111;
  border: 1px solid #333;
}
.pallet {
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
}
.active-color {
  width: 50px;
  height: 50px;
  border: 3px solid #ddd;
}
.pallet-colors-container {
  display: flex;
  flex-wrap: wrap;
}
.color {
  width: 30px;
  height: 30px;
}
.save-load {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #aaa;
}
.form-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labels {
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 12px;
}
.inputs {
  background:rgb(53, 54, 58);
  border: 1px solid #aaa;
  padding: 5px 10px;
  color: inherit;
  border-radius: 5px;
}